<h5 class="dashboard-title">Dashboard</h5>

<div class="dashboard-container">
  <div class="card text-white bg-success mb-3 dashboard-card">
    <div class="card-body">
      <h5 class="card-title">WINS</h5>
      <p class="card-text">{{stats ? stats.winCount : 0}} games</p>
    </div>
  </div>
  <div class="card text-white bg-danger mb-3 dashboard-card">
    <div class="card-body">
      <h5 class="card-title">LOSSES</h5>
      <p class="card-text">{{stats ? stats.lossCount : 0}} games</p>
    </div>
  </div>
  <div class="card text-white bg-secondary mb-3 dashboard-card">
    <div class="card-body">
      <h5 class="card-title">DRAWS</h5>
      <p class="card-text">{{stats ? stats.drawCount : 0}} games</p>
    </div>
  </div>
  <div class="card text-white mb-3 dashboard-card">
    <div class="card-body">
      <h5 class="card-title">TOTAL</h5>
      <p class="card-text">{{this.total}} games</p>
    </div>
  </div>
</div>
